workflow-chatbot-telegram.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        240
      ],
      "id": "97b04bdd-381b-4e42-aecc-f257dd1c0748",
      "name": "Telegram Trigger",
      "webhookId": "a3c1dfd7-e00b-4dee-89dd-559da0ffd1ae",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "q5st5gnNTtSxfLbR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "=Olá! A temperatura atual em *{{ $node[\"HTTP Request\"].json[\"name\"] }}* é de *{{ $node[\"Edit Fields1\"].json[\"tempAdjusted\"] }}°C* (Sensação térmica de {{ $node[\"Edit Fields1\"].json[\"feelsLikeAdjusted\"] }}°C).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "5082b2ea-d7f8-4107-b28d-b7e674d397a1",
      "name": "Send location temperature",
      "webhookId": "75159dfb-c93c-447c-a294-dea1b8804a80",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "q5st5gnNTtSxfLbR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa5b10a4-573b-4154-8b41-502f9c704912",
              "leftValue": "={{ $json.message.text.trim() }}",
              "rightValue": "=/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -816,
        240
      ],
      "id": "f71d6b53-e4d7-46b5-b74e-dcb87717b0e5",
      "name": "Check if input is correct",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "379e394f-8df8-4831-84b9-df2a7b957656",
              "name": "queue",
              "value": "={{ $json.message.text.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").trim().toLowerCase().split('/')[0]  + \",br\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        112
      ],
      "id": "ebcf8beb-5486-48e6-bf6a-75cbc36bcffa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "=Ops! Não consegui encontrar informações para a cidade *{{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}*. Verifique se o nome está correto e tente novamente.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        384
      ],
      "id": "1d8cf675-2014-4578-b35c-712dc4f51dbe",
      "name": "Send location error message",
      "webhookId": "75159dfb-c93c-447c-a294-dea1b8804a80",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "q5st5gnNTtSxfLbR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openWeatherMapApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $node[\"Edit Fields\"].json[\"queue\"] }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt-BR"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        112
      ],
      "id": "f136c512-1a8a-4166-8673-778749d49e25",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "credentials": {
        "openWeatherMapApi": {
          "id": "1QJVtcho5tQdT4ag",
          "name": "OpenWeatherMap account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c866d4c-ea01-4ae2-a130-dd4f77efbef3",
              "name": "cityName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "563fc1bb-8a9a-4553-9535-f1359c45f58f",
              "name": "tempAdjusted",
              "value": "={{ Math.round($json.main.temp) }}",
              "type": "string"
            },
            {
              "id": "753a0a33-6b0e-4a15-817d-e81a46c08072",
              "name": "feelsLikeAdjusted",
              "value": "={{ Math.round($json.main.feels_like) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "61bb9027-c1a0-42c0-a0bb-99f8124c5644",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8724b6d4-14db-400d-9abc-2b6fe70e46ae",
              "leftValue": "={{ $json.cod }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "11a63f82-e8e6-4b5d-9754-2e4a031b1570",
              "leftValue": "={{ $json.main?.temp ? \"ok\" : \"erro\" }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        112
      ],
      "id": "0ac655d6-47eb-4e15-b48e-0966118e9e71",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check if input is correct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if input is correct": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send location error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send location temperature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send location error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6280889a-0cd5-4729-9826-8bc2f0b56c22",
  "meta": {
    "instanceId": "39f53c8f8c25c6518428ed1cd2d0b5da5e36899b7c40469ad3fde713edcee695"
  },
  "id": "s0XZt9STqGuWUDHm",
  "tags": []
}